name: Build uOFW
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-16.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get install doxygen
          wget https://github.com/uofw/artifacts/releases/download/psp-toolchain-02-2021/psptoolchain.deb -O psptoolchain.deb
          sudo dpkg --install psptoolchain.deb
      - name: Build project
        run: |
          source /etc/profile.d/psptoolchain.sh
          make -k
      - name: Build documentation
        run : |
          mkdir github-pages
          cd github-pages
          doxygen ../docs/Doxyfile
      - name: Deploy documentation
        if: github.ref == 'refs/heads/master'
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: github-pages
          CLEAN: true
